---
import Base from "../../layouts/Base.astro";
---

<Base title="Lina♡ | Blog">
  <h1 transition:name="signalis">wake up.</h1>
</Base>

<style>
  h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    font-size: 5em;
    letter-spacing: 0.1em;
  }
</style>

<style>
  body {
    background: black;
  }
</style>
