<ul>
  <li><a class="palestine">Palestine</a></li>
  <li><a class="ukraine">Ukraine</a></li>
  <li><a>Trans</a></li>
</ul>

<style>
  ul {
    display: flex;
    gap: 1rem;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    padding: 1em 1.5em;
    text-decoration: none;
  }

  .palestine {}

  .ukraine {
    background: linear-gradient(to bottom, #1b9ee5 0%,#1b9ee5 49.99%,#f4dc00 50%,#f4dc00 100%);
  }
</style>
