<footer>
  <p>trans rights are human rights <span>❤</span></p>
</footer>

<style>
  footer {
    display: flex;
    justify-content: center;
  }

  p {
    padding: 1em;
    opacity: 50%;
    user-select: none;
    font-size: .9em;
  }
</style>
