<header>
  <nav>
    <a href="/">Home</a>
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
</header>

<style>
  header {
    padding: 0 1rem 0 1rem;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  li {
    list-style: none;
  }
</style>
